div.CV{
    font-family:Arial, Helvetica, sans-serif;
    width: 595px;
    height: 842px;
}
div.LEFT {
    width: 210px;
    height: 842px;
    background-color: #233A5F;
    padding-top: 31px;
    padding-left: 12px;
    padding-right: 12px;
}
div.Avatar{
    width : 100px;
    height : 100px;
    border-radius: 100%;
    background-color: grey;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.KC{
    margin: 20px 0px;
}
#Name{
    color:#FFFFFF;
    font-size: 18px;
    font-weight: 600;
    margin:0px;
}
#job{
    color:#C3C2C2;
    font-size: 10px;
    font-weight:400;
    margin:0px;
}
p.Type1{
    background-color:#E5E5E5;
    font-size: 10px;
    font-weight: 400;
    color:#233A5F;
    border-radius: 4px;
    padding: 4px 0px 4px 8px;
}
p.Skills{
    color:#FFFFFF;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 8px;
}
.List1{
    font-weight: 400;
    font-size: 10px;
    color: #FFFFFF;
    margin-top: 3px;
}
.Ul1{
    margin: 0px;
    padding-left:12px;
}
#Honor_Title{
    color:#FFFFFF;
    font-weight:600;
    font-size: 12px;
    margin-bottom:0px;
}
.Award_Time{
    width: 186px;
    height: 15px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top:0px;
    margin-bottom: 4px;
}
#P1{
    font-weight:400;
    font-size:8px;
    color:#C3C2C2;
}
.logo{
    width: 14px;
    height: 14px;
}
.Link1{
    color:#FFFFFF;
    font-weight: 400;
    font-size: 10px;
    margin-right: 8px;
    padding: 0px 0.5px 0.5px 0.5px; 
    height: 14px;
}